.navigation {
  background-color: #f0f0e8;
}

.navigation li > ul {
  padding: 1px 10px;
  display: flex;
  border-bottom: 1px solid #c7c6b9;
}

.navigation .menu_bar ul {
  padding-bottom: 3px;
}

.menu_bar ul li {
  padding-right: 20px;
}

.btns ul > li {
  display: flex;
  position: relative;
}

.btns ul > li:nth-child(-n + 2):after {
  content: "";
  position: absolute;
  width: 1px;
  /* height: 30px; */
  top: 5px;
  right: 0;
  bottom: 5px;
  background-color: #c7c6b9;
}

.btns ul li button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns ul li > * {
  margin: 10px 5px;
}

.back_btn,
.front_btn {
  background: green;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0.5px solid gray;
  background: radial-gradient(farthest-corner at -60% -60%, white, #b2b2b0);
}
.back_btn ~ span,
.front_btn ~ span {
  margin-left: 12px;
  border-top: 5px solid #b2b2b0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
.triangle {
  margin-left: 3px;
  border-top: 5px solid black;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
i {
  display: flex;
  align-items: center;
  font-style: inherit;
  cursor: default;
  padding: 0 2px;
}
.xbtn::before {
  content: "";
  display: inline-block;
  background-image: url("../../image/icons2.png");
  width: 33px;
  height: 35px;
  background-position: -79px -100px;
  background-repeat: no-repeat;
  background-size: 200px 380px;
}
.reload::before {
  content: "";
  display: inline-block;
  background-image: url("../../image/icons2.png");
  width: 33px;
  height: 35px;
  background-position: -79px -137px;
  background-repeat: no-repeat;
  background-size: 200px 380px;
}
.home::before {
  content: "";
  display: inline-block;
  background-image: url("../../image/icons2.png");
  width: 33px;
  height: 35px;
  background-position: -79px -165px;
  background-repeat: no-repeat;
  background-size: 200px 360px;
}
.search::before {
  content: "";
  display: inline-block;
  background-image: url("../../image/icons.png");
  width: 29px;
  height: 31px;
  background-position: -439px 0px;
  background-repeat: no-repeat;
  background-size: 494px 588px;
}
.bookmark::before {
  content: "";
  display: inline-block;
  background-image: url("../../image/icons.png");
  width: 29px;
  height: 31px;
  background-position: -330px 0px;
  background-repeat: no-repeat;
  background-size: 494px 588px;
}
.history::before {
  content: "";
  display: inline-block;
  background-image: url("../../image/icons2.png");
  width: 33px;
  height: 35px;
  background-position: -79px -272px;
  background-repeat: no-repeat;
  background-size: 200px 360px;
}
.email::before {
  content: "";
  display: inline-block;
  background-image: url("../../image/icons.png");
  width: 29px;
  height: 31px;
  background-position: -442px 0px;
  background-repeat: no-repeat;
  background-size: 530px 588px;
}
.fax::before {
  content: "";
  display: inline-block;
  background-image: url("../../image/icons.png");
  width: 29px;
  height: 31px;
  background-position: 0px -322px;
  background-repeat: no-repeat;
  background-size: 494px 556px;
}

.address_bar ul li:first-child {
  color: #a7a7a7;
  padding: 0px 5px 2px 0;
}

.address {
  background-color: white;
  border: 1px solid gray;
  flex: 2;
  position: relative;
}

.address input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: none;
  padding: 1px;
  outline: none;
  font-size: 15px;
  padding: 5px;
}
